<div class="row" ng-hide="report._id">
  <div class="col-md-6">
      <h2>Create new report</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Company Name (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="report.company" required> 
    </p>
    <p>
      <label>Assessor (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="report.assessor" required> 
    </p>
    <p>
      <label>Total Score (requred)</label> 
      <input id="name" class="form-control" type="text" ng-model="report.totalScore" required> 
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveReport(report)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>